doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Emmanuel Panja: Musician | Designer | Programmer
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap")
    link(rel="stylesheet" href="styles2.css")
  body
    script(src="script.js")
    .navbar-container#navbar-container
      #logo_container
        img(src="assets/epnew_transp.svg" alt="Logo")
      nav.navbar
        a.navbutton(href="index.html") home
        .vertical-divider
        a.navbutton(href="music.html") music
        .vertical-divider
        a.navbutton(href="experiments.html") experiments
        .vertical-divider
        a.navbutton(href="blog.html") blog
        .vertical-divider
        a.navbutton(href="contact.html") contact
      .hamburger-icon
    canvas
    header
      h1#hero H
        span e
        | llo World !
      p Hi! I am Emmanuel and I love to make cool things
    section#latest-releases
      h2 Latest track releases
      .horizontal-divider
      .releases
        iframe(src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1824021552&color=%2300fff6&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=flase&visual=true")
        iframe(src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1334825710&color=%2300fff6&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=flase&visual=true")
        iframe(src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1334859490&color=%2300fff6&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=flase&visual=true")
        iframe(src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1824021552&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=flase&visual=true")
        iframe(src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1824021552&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=flase&visual=true")
        iframe(src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1824021552&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=flase&visual=true")
        iframe(src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1824021552&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=flase&visual=true")
        iframe(src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1824021552&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=flase&visual=true")
